<div id="header">
  <a id="logo" href="/">
    <img src="/images/tealinuxos-logo.png">
    <span>TealinuxOS</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
