<li class="nav-dropdown-container language">
    <a class="nav-link"><span class="icon-globe"></span> Translation</a><span class="arrow"></span>
    <ul class="nav-dropdown">
        <% if (page.lang == 'id') { %>
            <li><a href="<%- url_for('/en') %>" class="nav-link" target="_blank">English</a></li>
        <% } else { %>
            <li><a href="<%- url_for('/') %>" class="nav-link" target="_blank">Indonesia</a></li>
        <% } %>

            </ul>
        </li>
