<li class="nav-dropdown-container language">
  <a class="nav-link">Translation</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://en.tealinuxos.org/" class="nav-link" target="_blank">English</a></li>
  </ul>
</li>
