<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="/panduan/index.html" >Pandaun</a></li>

<!--li><a href="/v2/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Dukungan</a></li-->

<li><a href="/kontribusi/index.html">Kontribusi</a></li>
<li><a href="/blog/index.html">Blog</a></li>
<%- partial('partials/ecosystem_dropdown') %>
<%- partial('partials/language_dropdown') %>
